
:root{
    --error-color: red;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #f4f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin: 0;
}

.container{
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0,0,0,0.3);
    width: 400px;
}
h1{
    text-align: center;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    padding: 10px;
    font-size: 12px;
    border: 2px solid #f4f6f6;
    display: block;
    width: 100%;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.error input{
    border-color: var(--error-color);
}
.form-control small{
    color: var(--error-color);
}

.form button{
    background-color: #3498db;
}


