*{
    margin:0; padding:0;
}
.container{
    margin:auto; width: 400px
}
h1{
    background-color: #6495ED;
    text-align: center
}
article{
    background-color: #F5F5DC;
    text-align: center;
    padding: 20px 0;
}